@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --primary-color: #4361EE   ;
  --secondary-color: #F0F465 ;
  --accent1-color: #214F4B;
  --accent2-color: #1BE7FF;

  --heading-font: "IM Fell French Canon";
  --paragraph-font: "Lato, Helvetica, sans-serif";

  --headline-color-on-white: #214F4B;  /* headlines on a white background */ 
  --headline-color-on-color: #1BE7FF; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #1BE7FF; /* paragraph text on a colored background */ 
  --paragraph-background-color: #214F4B  ;
  --nav-link-color: #214F4B;
  --nav-background-color: #F0F465;
  --nav-hover-link-color: #F0F465;
  --nav-hover-background-color: #214F4B; 
}
body {
  max-width: 1600px;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: monospace;
  text-align: center;
  background-color: #214F4B;
}
header { 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  padding: 10px;
  color: var(--headline-color-on-color);
  background-color: var(--headline-color-on-color);
  z-index: 5;
}
.logo_link{
  grid-row: 1;
  width: 100px;
}
nav{
  grid-row: 1;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  background-color:#1BE7FF;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: #214F4B;
}
nav a:hover {
  background-color: #214F4B;
  color: #1BE7FF;
}
#action{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1;
  grid-template-rows: 100px 1fr 200px;
  position: relative;
}
#rafting-pic {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#rafting-words {
  grid-column: 1/6;
  grid-row: 2;
  padding: 40px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}
h2 {
  text-align: center;
  margin: 0;
}
.book{
color: #F0F465;
text-decoration: none;
font-size: 40px;
margin: 20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.book:hover{
  background-color: #1BE7FF;
  color: #F0F465;
  border-radius: 10px;
}

.middle-pictures{
  display: flex;
}
.card-img{
  width: 25%;
  height: auto;
  margin: auto;
}
.icon{
  margin: 180px;
  margin-top: 0;
}
.middle-words{
  margin: auto;
}
.join{
  background-color: #1BE7FF;
  color: #214F4B;
  font-size: 30px;
  margin: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.join:hover{
  background-color: #F0F465;
  color: #214F4B;
  border-radius: 10px;
}
.msg{
  background-color: #1BE7FF;
  border-radius: 30px;
}
footer{
  background-color:#F0F465;
}
.home-title{
  color: white;
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}
h4{
  color:#1BE7FF;
  margin: 0px;
}
.msg p{
  color:#214F4B;
  font-size: .8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px 70px;
}
footer a{
  color: black;
  text-decoration: none;
}

footer a:hover{
  color: #1BE7FF;
}

footer p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10px;
  padding: .0001em;
}
footer p :hover{
  border-radius: 10px;
  border-color: #1BE7FF;
}
#social{
  border-radius: 50px;
}
#hero-msg h4 {
  color: white;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 
}