header{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}
.logo_link{
   width: 100px; 
   border-radius: 50px;
   grid-column: 1;
   grid-row: 1;
}
h1{
    grid-row: 1;
    grid-column: 2;
}
nav{
    grid-column: 3;
    
}